@import "./global.scss";

.wipe-up-animation {
  z-index: 3;
  background-color: rgb(248, 70, 70);
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
}

.game-screen {
  @include column;
  align-items: center;
  padding: 48px 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-self: anchor-center;
  z-index: 2;
  height: 100vh;

  .countdown {
    font-size: 70px;
    color: $blue;
    margin-top: 140px;
    font-weight: bold;
    font-style: italic;
    animation: countdownAnimation 1s ease-in-out infinite;
  }

  .logo {
    margin-bottom: 70px;
    width: 60%;
  }

  div[role="progressbar"] {
    width: 60%;
    margin-bottom: 70px;

    > div {
      border-radius: 4px !important;

      > div {
        background-color: #274690 !important;
      }

      span {
        display: none !important;
      }
    }
  }

  .react-card-flip {
    width: 100%;

    .react-card-flipper {
      .react-card-front,
      .react-card-back {
        @include center;
      }
    }
  }

  .calculation {
    @include column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 32px;
    border: 1px solid rgb(238, 238, 238);
    background-color: black;

    h2 {
      font-size: 48px;
      font-weight: bold;
      background-color: $orange;
      padding: 0px 16px;
      text-align: center;
      border-radius: 3px;
      width: 100%;
    }

    > h3 {
      font-size: 48px;
      color: white;

      .curly {
        color: $orange;
      }

      .sym {
        color: $green;
      }
    }

    h4 {
      text-align: center;
      font-size: 40px;
      color: $blue;
      margin-top: 45px;
      margin-bottom: 45px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
      margin-top: 20px;
      width: 100%;

      button {
        cursor: pointer;
        border-radius: 6px;
        height: 56px;
        font-size: 22px;
        border: none;
        color: black;
        font-weight: bolder;
        //border: 4px solid $blue;

        transform: skewX(-10deg);
        -o-transform: skewX(-10deg);
        -moz-transform: skewX(-10deg);
        -webkit-transform: skewX(-10deg);
      }
    }

    &[data-index-is-even="true"] {
      h2 {
        background-color: $green;
      }

      .grid button {
        background-color: white;
        border-bottom: 10px solid $orange;

        &:hover {
          border-bottom-width: 5px;
        }
      }
    }
  }

  .calculation-result {
    @include column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 420px;
    padding: 32px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 12px;

    font-weight: bolder;
    font-size: 24px;

    &[data-is-fail="true"] {
      background-color: rgba(255, 0, 0, 0.292);
      border: 1px solid red;
      color: red;
    }

    &[data-is-correct="true"] {
      background-color: $green;
      border: none;
      color: white;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
      margin-top: 12px;
      color: black;
    }
  }

  @media (max-width: 767px) {
    padding-top: 24px;
    .logo {
      margin-bottom: 32px;
      width: 90%;
    }

    .countdown {
      padding-right: 8px;
      font-size: 90px;
    }

    div[role="progressbar"] {
      margin-bottom: 32px;
      width: 90%;
    }

    .calculation {
      width: 90%;
    }

    .calculation-result {
      width: 90%;
    }
  }
}

@keyframes countdownAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
