@import "./global.scss";

body {
  overflow-x: hidden;
}

.rfm-marquee-container {
  background-color: $green;
  height: 30px;
  display: flex;
  margin-top: 30px;
  color: white;
}

.circle-animation {
  background-color: $blue;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
}

.onboarding-screen {
  @include column;
  align-items: center;
  padding: 100px 0px;
  height: 100vh;

  .logo {
    width: 65%;
  }

  h3 {
    text-align: center;
    margin-top: 80px;
    width: 65%;

    span {
      &:first-of-type {
        color: $orange;
        font-weight: 900;
      }
      &:last-of-type {
        color: $green;
        font-weight: 900;
      }
    }
  }

  button {
    background-color: $blue;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;
    margin-top: 80px;
    height: unset;
    padding: 12px 0px;
    color: white;
    font-weight: bolder;
  }

  .score {
    color: rgb(88, 88, 88);
    margin-top: 16px;
    font-size: 14px;
  }

  .points-of-today {
    background-color: $blue;
    display: block;
    width: max-content;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
  }

  .ticket {
    margin-top: 32px;
  }

  &:has(.onboaring-player) {
    justify-content: center;
  }

  @media (max-width: 767px) {
    height: unset;

    .logo {
      width: 90%;
    }

    h3 {
      margin-top: 80px;
      width: 90%;
    }

    button {
      width: 90%;
    }

    &:has(.have-played-blocker) {
      justify-content: flex-start;
      padding-top: 100px;

      h3 {
        margin-top: 50px;
      }
    }
  }
}

.react-responsive-modal-modal {
  width: 49%;
  border-radius: 16px;
  background-color: $blue !important;
  color: white;

  .react-responsive-modal-closeButton {
    display: none;
  }

  h3 {
    text-align: center;
    margin-bottom: 32px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 18px;
  }

  p {
    text-align: center;
    font-family: monospace;
    margin-bottom: 32px;
    color: $orange;
  }

  .error {
    color: rgb(255, 161, 161);
    font-style: italic;
    margin-top: 8px;
  }

  input {
    margin: auto;
    height: 32px;
    width: 100%;
    border-radius: 8px;
    display: block;
    border: none;
    outline: none;
    text-align: center;
    font-family: monospace;
    padding-left: 8px;
  }

  button {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 32px;
    background-color: $orange;
    border: none;
    height: 32px;
    border-radius: 8px;
    width: 50%;

    &[data-is-saving="true"] {
      background-color: $green;
    }
  }
}
