@import "./global.scss";

body {
  overflow-x: hidden;
  background-color: black;
}

.rfm-marquee-container {
  background-color: $green;
  height: 30px;
  display: flex;
  margin-top: 30px;
  color: white;
}

.circle-animation {
  background-color: $blue;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
}

.onboarding-screen {
  @include column;
  align-items: center;
  padding: 0px 0px 100px;
  position: relative;
  height: 100vh;

  .logo {
    width: 65%;
  }

  h3 {
    text-align: center;
    color: white;
    margin-top: 80px;
    width: 65%;

    span {
      &:first-of-type {
        color: $orange;
        font-weight: 900;
      }
      &:last-of-type {
        color: $green;
        font-weight: 900;
      }
    }
  }

  button {
    background-color: $blue;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;

    height: unset;
    padding: 12px 0px;
    color: white;
    font-weight: bolder;
  }

  .copy-button {
    margin-bottom: 30px;
  }

  .start-button {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .score {
    color: rgb(88, 88, 88);
    margin-top: 16px;
    font-size: 14px;
  }

  .points-of-today {
    background-color: $blue;
    display: block;
    width: max-content;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
  }

  .ticket {
    margin-top: 32px;
  }

  &:has(.onboaring-player) {
    justify-content: center;
  }

  &:has(.share-results-buttons) {
    padding-top: 100px;
  }

  .share-results-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 324px;
    margin-top: 32px;

    div {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      button:last-of-type {
        width: 0px;
      }
    }

    button {
      width: 100%;
      margin-top: 0px;
      padding: 0px 16px;
      height: 56px;
      @include center;
      gap: 8px;

      img {
        width: 32px;
      }

      &:last-of-type {
        padding: 0px 32px;
        background-color: $orange;
        color: black;

        &:focus {
          background-color: transparent;
          border: 2px solid $orange;
          color: white;

          img {
            filter: invert(1);
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    height: unset;
    padding-top: 30px;

    .logo {
      width: 90%;
    }

    h3 {
      margin-top: 80px;
      width: 90%;
    }

    button {
      width: 90%;
    }

    &:has(.have-played-blocker) {
      justify-content: flex-start;
      padding-top: 100px;

      h3 {
        margin-top: 50px;
      }
    }
  }

  @media screen and (min-width: 767px) {
    padding-top: 130px;

    h3 {
      font-size: 15px;
      margin-top: 20px;
    }
  }
}

.react-responsive-modal-modal {
  width: 49%;
  border-radius: 16px;
  background-color: $blue !important;
  color: white;
  max-width: 500px !important;

  .react-responsive-modal-closeButton {
    display: none;
  }

  h3 {
    text-align: center;
    margin-bottom: 32px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 18px;
  }

  p {
    text-align: center;
    font-family: monospace;
    margin-bottom: 32px;
    color: $orange;
  }

  .error {
    color: rgb(255, 161, 161);
    font-style: italic;
    margin-top: 8px;
  }

  input {
    margin: auto;
    height: 32px;
    width: 100%;
    border-radius: 8px;
    display: block;
    border: none;
    outline: none;
    text-align: center;
    font-family: monospace;
    padding-left: 8px;
  }

  button {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 32px;
    background-color: $orange;
    border: none;
    height: 32px;
    border-radius: 8px;
    width: 50%;

    &[data-is-saving="true"] {
      background-color: $green;
    }
  }

  @media (max-width: 767px) {
    width: 90%;
  }
}

.react-responsive-modal-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.modal-sign-in {
  background-color: $blue;
  border-radius: 16px;
  width: calc(100vw - 32px);
  bottom: 16px;
  left: 16px;
  min-height: 50vh;
  max-width: 500px;
  right: 16px;
  margin: 0px auto;
  position: fixed;

  padding: 16px;

  h3 {
    color: $orange;
    text-align: center;
    font-family: "HelveticaNeueCyr-Black";
    margin-bottom: 32px;
    margin-top: 16px;
  }

  p {
    color: rgb(232, 232, 232);
    text-align: center;
  }

  > img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
      hue-rotate(133deg) brightness(106%) contrast(101%);
    margin: 32px 0px;
    position: absolute;
    width: calc(100vw - 32px);
    left: 0px;
    z-index: 30;
    opacity: 0.3;
  }

  button {
    margin-top: 32px;
    position: relative;
    z-index: 50;
  }

  .cancel-button {
    height: 56px;
    border-radius: 16px;
    background-color: transparent;
    border: 2px solid rgb(166, 12, 12);
    color: white;
    font-weight: bolder;
    background-color: rgba(166, 12, 12, 0.75);
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  }
}

.google-button {
  display: flex;
  align-items: center;
  height: 56px;
  width: 100%;
  gap: 12px;
  border-radius: 16px;
  justify-content: center;

  img {
    width: 30px;
  }
}

.modal-ask-name {
  .google-button {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    gap: 12px;
    border-radius: 16px;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 18px;

    img {
      width: 30px;
    }
  }

  .divider {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 16px;
    width: 100%;
    div {
      background-color: $orange;
      height: 1px;
      width: 100%;
    }
  }

  .option-name {
    margin-bottom: 24px;
  }

  input {
    height: 50px;
    border-radius: 16px;
    margin-top: 0px;
  }

  .save-button {
    height: 50px;
    border-radius: 16px;
    width: 100%;
    margin-top: 16px;
  }
}

.ranking {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 16px;
  padding-top: 0px;
  width: 100%;

  .title {
    font-size: 16px;
    text-align: center;
  }

  @media screen and (min-width: 767px) {
    max-width: 360px;
    padding: 0px;
  }
}

.ranking-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 500;
  transition: transform 0.2s ease;
  width: 100%;

  .position {
    font-size: 0.95rem;
  }

  .points {
    font-weight: bold;
  }

  &.previous {
    background: rgba(255, 222, 89, 0.1);
    border-color: rgba(255, 222, 89, 0.4);
    color: #ffde59;
  }

  &.current {
    background: rgba(88, 255, 168, 0.15);
    border-color: rgba(88, 255, 168, 0.4);
    color: #58ffa8;
    font-weight: 700;
    transform: scale(1.05);
  }

  &.next {
    background: rgba(255, 167, 81, 0.1);
    border-color: rgba(255, 167, 81, 0.4);
    color: #ffa751;
  }
}
