@import "./global.scss";

.players-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;

  .logo {
    margin-top: 30px;
    width: 65%;
  }

  .players-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: calc(65% - 20px);
    gap: 16px;
  }

  @media (max-width: 767px) {
    .logo {
      width: 90%;
    }
    .players-list {
      width: 90%;
      margin-left: 0px;
    }
  }
}
