@import "./global.scss";

.players-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 120px;

  .logo {
    margin-top: 30px;
    width: 65%;
  }

  .players-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 32px;
    width: calc(65% - 20px);
    gap: 16px;
    margin-left: 17px;

    article {
      background-color: $orange;
      width: 100%;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      padding: 0px 8px;

      font-size: 18px;
      font-weight: bolder;

      &:first-of-type {
        background-color: transparent;
      }
    }
  }

  @media (max-width: 767px) {
    .logo {
      width: 90%;
    }
    .players-list {
      width: 90%;
      margin-left: 0px;
    }
  }
}
