@import "./global.scss";

.score-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 120px;

  .logo {
    margin-top: 30px;
    width: 65%;
  }

  .score-container {
    margin-top: 100px;
    border: 4px solid rgb(12, 200, 153);
    padding: 12px 0px;
    border-radius: 12px;
    width: 45%;

    h3 {
      font-size: 24px;
      margin-bottom: 16px;
      font-weight: lighter;
      color: black;
      font-size: 18px;
      text-align: center;
    }

    h2 {
      background-color: rgb(12, 200, 153);
      width: 100%;
      font-size: 56px;
      font-weight: bold;
      text-align: center;
      color: white;
    }

    .record {
      color: rgb(88, 88, 88);
      margin-top: 16px;
      text-align: center;
      font-size: 14px;

      span {
        color: black;
      }
    }
  }

  h4 {
    margin-top: 30px;
    margin-bottom: 16px;
  }

  .desc-grid {
    color: rgb(88, 88, 88);
    margin-top: 32px;
    font-size: 14px;
    width: 45%;
    text-align: center;

    span {
      color: $orange;
      font-weight: bolder;
    }
  }

  .grid {
    display: flex;
    border: 1px solid rgb(218, 217, 217);
    padding: 12px 12px 12px 5px;
    border-radius: 16px;
    flex-direction: column;
    gap: 8px;
    width: 45%;

    .days {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 14px;
        color: rgb(218, 217, 217);
        color: $orange;
        text-align: center;
        width: 100%;
        font-weight: bolder;
      }
    }

    .row {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-content: center;
      align-items: center;
      gap: 8px;

      .week {
        font-size: 10px;
        color: rgb(218, 217, 217);
        color: $blue;
        height: 100%;
        @include center;
        font-weight: bolder;
      }

      .day {
        display: flex;
        justify-content: center;
      }

      .point {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid transparent;

        &[data-type="inactive"] {
          border-color: rgb(218, 217, 217);
          background-color: rgb(235, 235, 235);
        }

        &[data-type="points"] {
          border-color: rgb(3, 148, 111);
          background-color: rgb(23, 225, 175);
        }

        &[data-type="wrong"],
        &[data-type="no"] {
          border-color: rgb(192, 43, 43);
          background-color: rgb(255, 108, 108);
        }

        &[data-type="record"] {
          background-image: linear-gradient(90deg, #f7971e, #ffd200);
          border: none;
        }
      }
    }
  }

  button {
    background-color: $blue;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 45%;
    margin-top: 30px;
    height: 50px;
    color: white;
    font-weight: bolder;
  }

  .char-container {
    background-color: rgb(244, 244, 244);
    border: 1px solid rgb(215, 214, 214);
    border-radius: 16px;
    margin: 20px;
    margin-top: -30px;
    padding: 10px;
    width: calc(100% - 40px);

    h3 {
      text-align: center;
      margin-bottom: 8px;
      color: #f6af65;
      font-weight: 900;
    }

    p {
      text-align: center;
      margin: auto;
      margin-bottom: 24px;
      color: rgb(88, 88, 88);
      font-size: 14px;
      width: 95%;
      text-wrap: pretty;

      span {
        color: #274690;
        font-weight: 600;
      }

      &:last-of-type {
        margin-bottom: -20px;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 767px) {
    .logo {
      width: 90%;
    }

    .ticket {
      margin-top: 42px;
    }

    .grid {
      width: 90%;
    }

    .desc-grid {
      width: 90%;
    }

    button {
      width: 90%;
    }
  }
}
