@font-face {
  font-family: "HelveticaNeueCyr-Black";
  src: url("../fonts/HelveticaNeueCyr-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@import "./global.scss";

.ticket {
  margin-top: 70px;
  width: 48%;
  position: relative;
  font-weight: bolder;

  img {
    filter: brightness(0) saturate(100%) invert(18%) sepia(73%) saturate(1873%)
      hue-rotate(209deg) brightness(95%) contrast(86%);

    width: 100%;
  }

  .borders {
    position: absolute;
    top: 15%;
    height: 65%;
    left: 10%;
    width: 80%;
    border: 3px solid #4067c4;
    border-radius: 16px;
    @include center;
    flex-direction: column;
  }

  h2 {
    color: $orange;
    font-weight: bolder;
    font-family: "HelveticaNeueCyr-Black";
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
  }
  p {
    font-size: 12px;
    color: #6283d2;
  }

  @media (max-width: 767px) {
    width: 90%;
  }
}
